body {
  display: flex;
  align-items: center;
  flex-direction: column;
}

#container {
  width: 600px;
  height: 600px;
  border: 1px solid black;
  display: flex;
  flex-wrap: wrap;
  margin: 30px;
}

#square {
  width: 35.5px;
  height: 35.5px;
  border: 1px solid black;
  display: flex;
}

#container {
  background-color: rgb(255, 255, 255);
}
